.profPanel { 
    width:445px; 
    height:150px; 
    background-color: #f2f2f2; 
    position: absolute;
    left:40px;
    top:70px;
    border-radius: 8px;

    @include box-shadow(3px, 3px, 3px, 0, #666);
    
    img {
        position:absolute;
        right:-20px;
        top:-20px;
    }
    ul {
        color:#9e9e9e; padding-top:5px; font-weight:300;
    }
    span {
        margin-right:8px;
    }
}